# C++ build artifacts
build/
*.o
*.a
*:Zone.Identifier

# Python
__pycache__/
*.pyc
api/__pycache__/
*.pyo
.venv/
venv/
lobenv/
*.egg-info/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
node_modules/
dist/
.env

#React
lob-dashboard/node_modules/
build/


